@font-face {
  font-family: "iconfont"; /* Project id 3862132 */
  src: url('iconfont.woff2?t=1673873013824') format('woff2'),
       url('iconfont.woff?t=1673873013824') format('woff'),
       url('iconfont.ttf?t=1673873013824') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shizhong:before {
  content: "\e74f";
}

.icon-xiaoxi:before {
  content: "\e62f";
}

.icon-shoujihaoma:before {
  content: "\e7ec";
}

.icon-kefu:before {
  content: "\ec2e";
}

.icon-jiesuo:before {
  content: "\e669";
}

.icon-shouji:before {
  content: "\e692";
}

.icon-shoucang:before {
  content: "\e600";
}

.icon-weibiaoti5:before {
  content: "\e63a";
}

.icon-dianzan:before {
  content: "\ec7f";
}

.icon-zanting:before {
  content: "\e693";
}

.icon-fenxiang:before {
  content: "\e8b0";
}

.icon-pinglun:before {
  content: "\e8b4";
}

.icon-zanting1:before {
  content: "\e60b";
}

